
@{
    Layout = null;
}

<!DOCTYPE html>
@model BonusTrack_UI.ViewModel.ViewModelPlants
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
</head>
<body>
    <form action="/home/Index" method="post" item>
        <select name="selectPlants" multiple>
            @foreach (string plantName in Model.ListOfPlantsName)
            {
                <option value="@plantName">@plantName</option>
            }
        </select>
        <input type="submit" value="show details">
    </form>
    <p>@Model.DetailsOfAPlant</p>
</body>
</html>
